@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
}

div {
    position: relative;
    z-index: 100;
}

.webgl
{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
